@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}
.main {
  background-image: url("/Assets/Images/backgroundimg.jpg");
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 85vh;
  position: relative;
}

.main .box {
  height: 85vh;
  width: 100%;
  opacity: 0.6;
  background-color: black;
  position: absolute;
  top: 0;
}
nav {
  max-width: 60vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 62px;
}
nav img {
  color: red;
  width: 114px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.hero {
  height: calc(100% - 62px);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Martel Sans", serif;
  font-weight: 600;
  font-style: normal;
  gap: 12px;
  padding: 0 30px;
}
.hero > :nth-child(1),
.hero > :nth-child(2) {
  font-weight: 900;
  font-size: 64px;
  font-family: sans-serif;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 600;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}
.hero > :nth-child(4) {
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
}

.curved-container {
  width: 100%;
  height: 10vh;
  position: relative;
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
  overflow: hidden;
  background: linear-gradient(to top, black, rgb(4, 4, 92));
  border-top: 2px solid red;
  border-top-width: thick;
}

.curved-border {
  position: absolute;
  top: -10px; /* Adjust for border thickness */
  left: 0;
  width: 100%;
  height: 10px; /* Thickness of the red border */
  background: red;
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
}

.btn {
  padding: 5px 18px;
  font-weight: 400;
  border-radius: 5px;
  color: #ffffff;
  border: 1px solid rgba(246, 238, 238, 0.5);
  background-color: rgba(248, 243, 243, 0.021);
  cursor: pointer;
}
.btn img {
  width: 10px;
  margin-left: 10px;
  filter: brightness(0) invert(1);
}
.btn-red {
  background-color: red;
  color: #ffffff;
  padding: 14px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0);
}
.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.main input {
  padding: 24px 290px 8px 14px;
  font-size: 12px;
  border-radius: 5px;
  background-color: rgba(23, 23, 23, 0.2);
  border: 1px solid rgba(246, 238, 238, 0.5);
  color: #ffffff;
  font-weight: 400;
}
.btn-red-sm {
  background-color: rgba(231, 220, 220, 0.048);
  color: #ffffff;
}
/* Treding movies */
.Heading2 {
  color: #ffffff;
  font-size: 32px;
  font-family: sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
.row {
  border: 2px solid red;
}
.Images-div-span{
  border: 2px solid yellowgreen;  
}

.row__posters {
  border: 2px solid green;
  display: flex;
  flex-direction:row;
  align-items: center;
  width: 55vw;
  margin: auto;
  overflow-y: hidden;
  overflow-x: scroll;
}
.images {
  border: 2px solid yellow;
}
.images > img {
  border-radius: 5px;
  object-fit: contain;
  
}
.images > img:hover {
  transform: scale(1.08);
  transition: transform 450ms;
}
.Reasons {
  border: 2px solid red;
}
.Reasons-div {
  border: 2px solid green;
  display: flex;
  flex-direction:row;
  align-items: stretch;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 55vw;
  gap: 7px;
}
.features {
  border: 2px solid yellow;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  padding: 10px 15px;
  box-sizing: border-box;
  gap: 15px;
  border-radius: 10px;
  /* background-color: rgb(37, 30, 53); */
  background: linear-gradient(to top, rgb(44 2 39), rgb(20 20 72));
}
.resons-heading3 {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.para {
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  margin-top: 15px;
  flex-grow: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}
.span_svg_reasons {
  display: inline-flex;
  align-self: flex-end;
}
/* FAQ */
.FAQ {
  border: 2px solid red;
}
.inner-details-FAQ {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55vw;
  margin: auto;
  font-family: sans-serif;
  font-size: 24px;
 

}
.Q {
  border: 2px solid yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  padding: 20px;
  background-color: #2d2d2d;

}
.Q:hover{
  background-color: #4e4b4b; 
}
.Q> img{
  width: 25px;
  filter: brightness(0) invert(1);
}
.footer-box{
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  width: 55vw;
  margin: auto;
  
}
.footer-button{
  border: 2px solid red;
  margin-top: 25px;
}
.footer-btn{
  border: 2px solid yellow;
}
.footer-h4{
  color: #ffffff;
  text-align:center;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 7px;
}
/* Last main footer */
.question{
  border: 2px solid blue;
  position: relative;
  top: 11px;
  left: 22%;
  font-size: 14px;
  font-family: sans-serif;
}
.footermain{
  border: 2px solid red;
  margin-top: 15px;
}
.footerinnerdetails{
  border: 2px solid green;
  display: flex;
  flex-direction:row;
  align-items:stretch;
  justify-content: space-evenly;
  width: 55vw;
  margin: auto;
  padding: 5px;
}
.footerlist-items{
  border: 2px solid yellow;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px 0px;
  font-family: sans-serif;
  font-size: 14px;
  color:#9f9f9f;
  font-weight: 400;
  gap: 25px;
}
.footerul{
  border: 2px solid purple;
  line-height:2;
  align-items: center;
  list-style: none;
  
}
.listitem>.lfanchor {
  color:#9f9f9f;
}

.lfanchor-question{
  color: #9f9f9f; 
}

.footerspanbtn{
  border: 2px solid blue;
}
.footerpara{
  color:#9f9f9f;
}
/* Main container setting */
.Main-container-One,.Main-container-two,.Main-container-third{
  border: 2px solid blue;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    height: auto;
    margin: auto;
    align-items: center;
}